@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    padding: 0.5rem;
    color: white;
}

.header {
    font-family: Algerian;
}

nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem !important;
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 1rem;
}

nav :hover {
    background: rgba(255, 0, 0, 0.767);
    transition: 1s;
}

nav .setting {
    height: 2rem !important;
    width: 2rem !important;
}

nav .setting:hover {
    background: none !important;
}